img {
  display: block; 
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo-icon {
  width: 24px;   /* กะขนาดตามสัดส่วนโลโก้ในสเปค */
  height: 32px;
  background-color: #ccc; /* ใส่สีเทาไว้มองเห็นตำแหน่ง */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #e5d7d7;

}


.nav-link {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;


}

.nav-link a {

    text-decoration: none;

}

.logo-text {
    font-weight: 500;
    font-size: 20px;

}



/* MAIN  */

.container {
    max-width: auto;
    margin: 0;  
    padding: 0; 
}

.hero {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 32px 24px;
    background-color: #a09d9d;
}


.hero-image {
    flex: 0 0 60%;
}

.hero-image img {
    width: 100%;
    display: block;
}

/* กล่องข้อความข้างรูปhero  */
.hero-text {
    flex: 0 0 40%;
}


.hero-text h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 24px;
}

.hero-text h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;
}

.hero-btn {
    background-color: #2f2626;
    color: white;
    padding: 8px 150px;
    font-size: 20px;
    text-align: center;
    
    
    
}